<form action="/animal/new" method="post">

  <label for="Name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="Type">Type:</label>
  <input type="text" name="type" id="type">

  <label for="Breed">Breed:</label>
  <input type="text" name="breed" id="breed">

  <label for="admission_date">Admission date (dd/mm/yyyy):</label>
  <input type="text" name="admission_date" id="admission_date">

  <label for="ready_for_adoption">Ready for adoption:</label>
  <input type="text" name="ready_for_adoption" id="ready_for_adoption">

  <input type="submit" value="New animal">

</form>
