<form action="/animal" method="post">
  <label for="name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <form action="/owner" method="post">
    <label for="name">First Name:</label>
    <input type="text" name="first_name" id="first-name">
