<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Animal Shelter</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/animal'>Animals</a></li>
        <li><a href='/owner'>Owners</a></li>
        <li><a href="/animal/assign">Assign animal to owner</a></li>
        <!-- what do I need here? -->
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
