<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <title>Animal Shelter</title>
  </head>
  <body>
    <h1 class='h1'>Andrew's Animal Shelter </h1>
    <!-- <h2 class='h2'>The World's most advanced animal management system </h2> -->
    <nav>
      <ul class='ul'>
        <li class='li'><a href='/animals'>Animals</a></li>
        <li class='li'><a href='/owners'>Owners</a></li>
      </ul>
    </nav>
    <div class="color">
    <%= yield %>
  <h4 class="return"><a href="/">Back to home page</a></h4>

</div>
  </body>
</html>
