<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/styles.css">
    <title>Animal Shelter</title>
  </head>
  <body>
    <h1>Andrew's Animal Shelter </h1>
    <nav>
      <ul>
        <li><a href='/animals'>Animals</a></li>
        <li><a href='/owners'>Owners</a></li>
        <li><a href="/animal/assign">Assign animal to owner</a></li>
        <!-- what do I need here? -->
      </ul>
    </nav>

    <%= yield %>

  </body>
</html>
